// Allows the use of rem-calc() or lower-bound() in your settings
@import 'foundation/functions';

// We use this to control whether or not CSS classes come through in the gem files.
$include-html-classes: true;
// $include-print-styles: true;
$include-html-global-classes: $include-html-classes;

// b. Grid
// - - - - - - - - - - - - - - - - - - - - - - - - -

// $include-html-grid-classes: $include-html-classes;
// $include-xl-html-grid-classes: false;

// $row-width: rem-calc(1000);
// $total-columns: 12;
// $column-gutter: rem-calc(30);


// d. Media Query Ranges
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small-breakpoint:  em-calc(600);
$medium-breakpoint: em-calc(960);
$large-breakpoint:  em-calc(1280);
$xlarge-breakpoint: em-calc(1920);

// $small-range:   (0, $small-breakpoint);
// $medium-range:  ($small-breakpoint  + em-calc(1), $medium-breakpoint);
// $large-range:   ($medium-breakpoint + em-calc(1), $large-breakpoint);
// $xlarge-range:  ($large-breakpoint  + em-calc(1), $xlarge-breakpoint);
// $xxlarge-range: ($xlarge-breakpoint + em-calc(1), em-calc(99999999));

// $screen: "only screen";

// $landscape: "#{$screen} and (orientation: landscape)";
// $portrait: "#{$screen} and (orientation: portrait)";

// $small-up: $screen;
// $mobile-small
// $mobile-large
// $mobile-small-landscape
// $mobile-large-landscape
// $small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";
// $medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
// $tablet-small-landscape
// $tablet-large-landscape
// $tablet-small
// $tablet-large
// $medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";

// $large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
// $large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";

// $xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
// $xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";

// $xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
// $xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";

// $retina: (
//  "#{$screen} and (-webkit-min-device-pixel-ratio: 2)",
//  "#{$screen} and (min--moz-device-pixel-ratio: 2)",
//  "#{$screen} and (-o-min-device-pixel-ratio: 2/1)",
//  "#{$screen} and (min-device-pixel-ratio: 2)",
//  "#{$screen} and (min-resolution: 192dpi)",
//  "#{$screen} and (min-resolution: 2dppx)"
// );

// Legacy
// $small: $medium-up;
// $medium: $medium-up;
// $large: $large-up;
//

$font-family-sans-serif: "Robot", "Helvetica Neue", Helvetica, Arial, sans-serif;
